TraceLevel = 1
# ThreadsOff =  true
# PreseekOff = true
SelectStream = -1
OpenFileURL = /dev/null 

#4.0GB
IndexFile = /afs/cern.ch/user/i/innocent/scratch0/t0tests/indexfiles/File-00004000MB.idx
#6.0GB
IndexFile = /afs/cern.ch/user/i/innocent/scratch0/t0tests/indexfiles/File-00006000MB.idx


#3.0GB
IndexFile = /afs/cern.ch/user/i/innocent/scratch0/t0tests/indexfiles/File-00003000MB.idx
#7.0GB
IndexFile = /afs/cern.ch/user/i/innocent/scratch0/t0tests/indexfiles/File-00007000MB.idx

CloseFileURL = /dev/null 
