TraceLevel = 3
SelectStream =  2 
# error: non existing directory
OpenFileURL = rfio:/tmp/innocente/crap1
IndexFile = /afs/cern.ch/user/i/innocent/scratch0/t0tests/indexfiles/idx.0.0.10.21f8a2c3e0594cb29e3564ab7caad5f1.idx 
IndexFile = /afs/cern.ch/user/i/innocent/scratch0/t0tests/indexfiles/idx.0.1.10.84d3b86328ba4a5aa2dbd89a81ddc0ca.idx 
IndexFile = /afs/cern.ch/user/i/innocent/scratch0/t0tests/indexfiles/idx.4.4.10.cfd3622815bd4b0aaaee672d39d222c1.idx  
IndexFile = /afs/cern.ch/user/i/innocent/scratch0/t0tests/indexfiles/idx.4.5.10.11b4a19987d74e9ca6e1925b27bf0405.idx 
IndexFile = /afs/cern.ch/user/i/innocent/scratch0/t0tests/indexfiles/idx.4.6.10.0c8be3aee848465ca4c6720e68c66c96.idx 
CloseFileURL = rfio:/tmp/innocente/crap1 
