OpenFileURL = rfio:/castor/cern.ch/cms/export/buffer/very-large-output-file.raw
OpenFileURL = PRnode001:/pool/lsf/PRtask001/part-one-of-large-file.raw
SelectStream = 3
IndexFile = ./index1.idx
IndexFile = ./index2.idx
CloseFileURL = rfio:PRnode001:/pool/lsf/PRtask001/part-one-of-large-file.raw
OpenFileURL = rfio:PRnode002:/pool/lsf/PRtask002/part-two-of-large-file.raw
IndexFile = ./index3.idx
CloseFileURL = rfio:PRnode002:/pool/lsf/PRtask002/part-two-of-large-file.raw
CloseFileURL = rfio:/castor/cern.ch/cms/export/buffer/very-large-output-file.raw
