TraceLevel = 1
# ThreadsOff =  true
# PreseekOff = true
SelectStream =  2 
OpenFileURL = rfio:///?svcClass=t0export&path=/castor/cern.ch/cms/t0test/vin/tmp/bigcrap1 
OpenFileURL = /tmp/innocent/bigcrap2 

#4.0GB
IndexFile = rfio:lxcmsa:/data2/wildish/T0/indices/File-00004000MB.idx
#6.0GB
IndexFile = rfio:lxcmsa:/data2/wildish/T0/indices/File-00006000MB.idx

CloseFileURL = /tmp/innocent/bigcrap2 

OpenFileURL = /tmp/innocent/bigcrap3 

#3.0GB
IndexFile = rfio:lxcmsa:/data2/wildish/T0/indices/File-00003000MB.idx
#7.0GB
IndexFile = rfio:lxcmsa:/data2/wildish/T0/indices/File-00007000MB.idx

CloseFileURL = /tmp/innocent/bigcrap3 
CloseFileURL = rfio:///?svcClass=t0export&path=/castor/cern.ch/cms/t0test/vin/tmp/bigcrap1 
